*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.outer-box{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top left ,hwb(181 16% 18%),white,skyblue);
}
.inner-box{
     width: 400px;
     margin: 0 auto;
     position:relative;
     top: 50%;
     transform: translateY(-50%);
     padding : 20px 40px;
     /* background: linear-gradient(to top right,skyblue , white) ; */
     background-color: #ffffff09;
    padding: 20px 40px;
     backdrop-filter: blur(8px);
     box-shadow: 3px 3px 5px #2773a5;
     z-index: 2;
}
.signup-header h1{
    font-size: 2.5rem;
    color:#212121
}
.signup-header p{
    font-size:0.95rem;
    color:#555;
    margin-top: 5px;
}

.signup-body {
    margin: 20px 0;
}
.signup-body p{
    margin: 10px 0;
}
.signup-body p label{
    display: block;
    font-weight: bold;
}
.signup-body p input{
    width: 100%;
    padding: 10px;
    border:  2px solid #cccc;
    border-radius: 4px;
    font-size: 1rem;
    margin-top: 4px; 
}
.signup-body p input[ type="submit"]{
      background-color: #3498db;
      border:none;
      color: white;
      cursor: pointer;
}
.signup-body p input[type="submit"]:hover{
    background-color: transparent;
    color: #212121;
}
.signup-footer p{
    text-align: center;
    color: #555;
}
.circle{
    width: 200px;
    height: 200px;
    border-radius: 100px;
   background: linear-gradient(to top left, white,#11dadd);
   position: absolute;
}
.c1{
    top: 100px;
    left:34%;
}
.c2{
    bottom: 20px;
    right: 40%;
}